*{
    list-style: none;
}
body {
    background-color: rgb(62, 62, 109);
    color: white;
    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2{
    font-weight: 300;
}